<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://abs.twimg.com/responsive-web/client-web/icon-ios.77d25eba.png">
    <title>Twitter / X</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <section id="section">

        <div class="img"> <img id="img" src="https://abs.twimg.com/responsive-web/client-web/icon-ios.77d25eba.png"
                alt="X">
        </div>
        <div id="box">
            <h1>Total X users are : <%= count %>
            </h1>
            <button> <a href="http://localhost:8080/newuser">Sign in to X here!</a>
            </button>
            <br><br><br>
            <hr>
        </div>
    </section>
</body>

</html>