<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://abs.twimg.com/responsive-web/client-web/icon-ios.77d25eba.png">
    <title>Log in to Twitter / X</title>
    <link rel="stylesheet" href="new.css">
</head>

<body>
    <section id="section">
        <div class="img"> <img id="img" src="https://abs.twimg.com/responsive-web/client-web/icon-ios.77d25eba.png"
                alt="X">
        </div>
        <h1>Sign in to X!</h1>
        <form action="/newuser" method="POST">
            <div id="box">
                <div type="button"><input id="btndiv" name="username" type="text" placeholder="enter username" /><br>
                </div>
                <div type="button"><input id="btndiv" name="email" type="email" placeholder="enter email" /><br></div>
                <div type="button"><input id="btndiv" name="avatar" type="text" placeholder="enter profile link" /><br>
                </div>
                <div type="button"><input id="btndiv" name="password" type="password"
                        placeholder="enter password" /><br>
                </div>
                <textarea id="postbox" type="text" placeholder=" Enter 1st Post Content Here" name="content" id=""
                    cols="40" rows="20"></textarea><br>
                <button class="button">Create X Account</button>
            </div>
        </form>
    </section>
</body>

</html>